* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Minecraftia', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.image-container {
    margin-right: 40px;
}

.main-image {
    width: 250px;
    height: auto;
}

.text-container {
    text-align: left;
}

.text-container h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Minecraftia', sans-serif;
}

.coming-soon-btn {
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.coming-soon-btn:hover {
    text-decoration: underline;
}

.owners-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.owners-list h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
}

.glowing-text {
    color: gold;
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
    font-size: 1.6rem;
    margin: 10px 0;
}

.glowing-text a {
    color: inherit;
    text-decoration: none;
}

.glowing-text a:hover {
    text-decoration: underline;
}
